[class*="col-"]{
    float: left;
}

@media(max-width:991px) and (min-width:768px){
    .col-sm-12{width: 100%;}
    .col-sm-6{width: 50%;}
    .col-sm-4{width: 33.33333333%;}
    }

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

